html
{
    height: 100%
}      
body
{
    height: 95%;
    font-family: 'Roboto Condensed', sans-serif; 
    background-image: url(netclipart.com-mushroom-cloud-clipart-942820.png);
    background-size: 100%
}
.Main
{
   margin:1%;
    font-size: 25px;
}
a
{
	color: #3D928F;
}
tr>td{
    text-align: left;
}
.Main:link{
    display: all;
    color: #3D928F;
    text-decoration: none;
}
.Main:visited{
    color: #0A6B67;
    text-decoration: none;
}

.title
{
	margin: 2% auto;
    font-size: 45px;
    padding: 1%;
    font-weight: bold;
    text-decoration: underline;
}
.container
{
	height: 60%;
    width: 40%;
    margin: 2% auto;
    font-size: 25px;
    padding: 1%;
    overflow: hidden;
    background-color:rgb(255, 255, 255);opacity:0.9;
    border-radius: 10px;
    border:2px solid #3D928F;
    color: #3D928F;
    text-align:center
}
.designInput
{
		display: flex;
	    border: 1px solid #3D928F;
	    box-shadow: none;
	    border-radius: 24px;
	    margin: 0 auto;
	    padding: 2% ;
	    padding-left: 8% !important;
	    width: 100%;
	    height: 32px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
}
table , tr, td
{
	text-align: center ;
}
.Registr{
	background-image: -webkit-linear-gradient(top,#3D928F,#3D928F);
    background-color: #3D928F;
    border: 1px solid #3D928F;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 14px;
    margin: 20px auto;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.Registr:hover{
	background-image: -webkit-linear-gradient(top,#FFFFFF,#FFFFFF);
	color: #3D928F;
	background-color: #FFFFFF;

}