html
{
    height: 100%
}      
body
{
    height: 95%;
    font-family: 'Roboto Condensed', sans-serif; 
    background-image: url(netclipart.com-mushroom-cloud-clipart-942820.png);
    background-size: 100%
}
.Main
{
   margin:1%;
    font-size: 25px;
}
a
{
    color: #3D928F;
}
tr>td{
    text-align: left;
}
.Main:link{
    display: all;
    color: #3D928F;
    text-decoration: none;
}
.Main:visited{
    color: #0A6B67;
    text-decoration: none;
}

.title
{
    margin: 2% auto;
    font-size: 45px;
    padding: 1%;
    font-weight: bold;
}
.title
{
	margin: 2% auto;
    font-size: 65px;
    padding: 1%;
    font-weight: bold;
}
.container
{
	height: 50%;
    width: 30%;
    margin: 2% auto;
    font-size: 25px;
    padding: 1%;
    overflow: hidden;
    background-color:rgba(133, 205, 204, 0.8) ;
    border-radius: 10px;
    border:2px solid white;
    color: white;
    text-align:center
}
td{
    font-size: 35px;
}
.designInput
{
		display: flex;
	    border: 1px solid white;
	    box-shadow: none;
	    border-radius: 24px;
	    margin: 0 auto;
	    padding: 2% ;
	    padding-left: 8% !important;
	    width: 100%;
	    height: 32px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
}
table , tr, td
{
	text-align: center ;
}
div[class*=box] {
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}
.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}