*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
  
html
{
    height: 100%
}      
body
{
    height: 95%;
    font-family: 'Roboto Condensed', sans-serif; 
    background-image: url(netclipart.com-mushroom-cloud-clipart-942820.png);
    background-size: 100%;
    overflow:hidden;
}
.signOut
{
    color: #3D928F;
    margin:1%;
    font-size: 25px;

}
.signOut:link{
    display: all;
    color: #3D928F;
    text-decoration: none;
}
.signOut:visited{
    color: #0A6B67;
    text-decoration: none;
}
a{
    color: #3D928F
}

.info
{
    height: 10%;
    width: 40%;
    margin: 2% auto;
    margin-top: -1%;
    font-size: 25px;
    padding: 1%;
    overflow: hidden;
    background-color:rgb(255, 255, 255);opacity:0.8;
    border-radius: 10px;
    border:2px solid #3D928F;
    color: #3D928F;
}

.info .name
{
    float: left;
    margin-left: 1%
}

.info .tries
{
    float: right;
    text-align: right;
    margin-right: 1%
}

.container-game-blocks
{
    width: 500px;
    height: 500px;
    margin: 1% auto;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(255, 255, 255);opacity:1;
    border-radius: 10px;
    border:2px solid #3D928F;

}

.container-game-blocks.no-click
{
    pointer-events: none;
}

.container-game-blocks .game-block
{
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 100px;
    margin:10px;
}

.container-game-blocks .game-block .front
{
    background-color: #3D928F;
    border-radius: 50%;
    color: #fff;
    line-height: 100px;
}

.container-game-blocks .game-block .front:before
{
    content:'?';
    font-weight: bold;
}

.container-game-blocks .game-block .back
{
    background-color: #3D928F;
    border-radius: 50%;

    height: 100px;
    transform: rotateY(180deg);   
}

.container-game-blocks .game-block .back img
{
    width: 80px;
    border-radius: 50%;
    height: 80px;
    margin: 10px;
}

.container-game-blocks .game-block .face
{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
}


.container-game-blocks .game-block.flipped
{
    transform: rotateY(180deg);
}

.container-game-blocks .game-block.mached
{
    transform: rotateY(180deg);
    pointer-events: none; 
}
